@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

#body{
    /* background: url("../img/bg5.png");  */
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

   
#scoreBo{
    position: absolute;
    top: 150px;
    left: 180px;
    max-width: 250px;
    font-size: 39px;
    color: white;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    background: linear-gradient(-45deg, rgba(190, 188, 222, 0.5), rgba(68, 66, 66, 0.4));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.1),-8px -8px 12px 0 rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 20px;
    opacity: 0.4;
}


.scr{
    position: absolute;
    top: 15px;
    right: 150px;
    font-size: 39px;
    color: white;
    background: linear-gradient(-45deg, rgba(30, 22, 182, 0.5), rgba(237, 45, 45, 0.4));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
  }

#board{
    
    width: 90vmin;
    height: 92vmin;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
}

.board_style_1{
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    box-shadow: -8px 8px 12px 0 rgba(0, 0, 0, 0.3), 12px -12px 16px rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    width: 100%;
}
.board_style_2{
    background-color: #73d3df;
    border-radius: 20px;
    box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}
.board_style_3{
    background: linear-gradient(rgb(239, 42, 114), rgba(190, 234, 31, 0.542));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.board_style_4{
    background: linear-gradient(rgb(74, 214, 28), rgba(236, 225, 16, 0.542),rgba(59, 11, 215, 0.542));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.bg_theam_1{
    background: url("../img/bg2.jpg"); 
}
.bg_theam_2{
    background: url("../img/bg3.jpg"); 
}
.bg_theam_3{
    background: url("../img/bg4.png"); 
}
.bg_theam_4{
    background: url("../img/bg5.png"); 
}
.bg_theam_5{
    background: url("../img/bg5.png"); 
}

.the_board{
    padding: 1px;
}
.splBorder{
    border: 2px solid red;
    padding: 0px;
}










@keyframes center_anim {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}



